html{
   overflow: hidden;
}

body{
    background-color: white;
    margin: 0px;
    margin-left: 0%;
}

a{
    color: inherit;
    text-decoration: none;
}

#menu{
    width: 3em;
    height: 3em;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: .5em;
    background-color: none;
    color: aliceblue;
    cursor: copy;
    border-radius: 100px;
    transition-property: width, height, background, color, border-radius;
    transition-delay: 1s, 0s, 1s, 1s, 1.5s;
    transition-duration: 1s, 1s, 2s, 3s, 1s;
    overflow: hidden;
}
#menu.hover{
    border-radius: 0px;
    color: black;
    background-color: #f1f1f1;
    transition-property: width, height, background, color, border-radius;
    transition-delay: 0s, 1s, 0s, 0s, 0s;
    transition-duration: 1s, 1s, 2s, 2s, 1;
    width: 20%;
    height: 15em;
}
#menuicon{
    margin-bottom: .5em;
}
@media screen and (max-device-width: 768px){
    #menu.hover{
        border-radius: 0px;
        color: black;
        background-color: #f1f1f1;
        transition-property: width, height, background, color, border-radius;
        transition-delay: 0s, 1s, 0s, 0s, 0s;
        transition-duration: 1s, 1s, 2s, 2s, 1;
        width: 35%;
        height: 15em;
    }
}
@media screen and (max-device-width: 425px){
    #menu.hover{
        border-radius: 0px;
        color: black;
        background-color: #f1f1f1;
        transition-property: width, height, background, color, border-radius;
        transition-delay: 0s, 1s, 0s, 0s, 0s;
        transition-duration: 1s, 1s, 2s, 2s, 1;
        width: 100%;
        height: 15em;
    }
}

#menuitems{
    margin: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    color: black;
}
#menuitems ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; 
}
#menuitems ul li a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
#menuitems li a:hover {
    background-color: #555;
    color: white;
}

h1, h2, h3, h4, h5{
    text-align: center;
    margin: 0px;
}

#title{
    text-align: center;
    background-color: black;
    color: aliceblue;
    height: 4em;
    line-height: 4em;
}

#page{
    height: 90%;
    width: 100%;
}
